* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.google.com/specimen/Montserrat'); /* Montserrat */
@import url('https://fonts.google.com/specimen/Fraunces'); /* Fraunces */

:root {
  --darkCyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--cream);
  color: var(--veryDarkBlue);
  display: grid;
  place-items: center;
  align-items: center;
}

.container {
  border-radius: 2.5%;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  max-width: 600px;
  justify-content: center;
  align-self: center;
  place-self: center;
  margin-top: 230px;
  margin-bottom: 200px;
}

.perfumeImage {
  max-width: 300px;
  border-radius: 2.5% 0 0 2.5%;
  flex-grow: 1;
}

aside {
  flex-grow: 1;
  padding: 30px;
}

header h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 13px;
  margin-bottom: 20px;
  opacity: 70%;
}

header h1 {
  font-family: 'Fraunces';
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-right: 30px;
}

aside p {
  margin-bottom: 30px;
  opacity: 80%;
  color: var(--darkGrayishBlue);
  font-size: 20px;
  margin-right: 30px;
}

.price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-
}

.price h1 {
  color: var(--darkCyan);
  font-size: 36px;
  font-weight: bolder;
  align-self: bottom;
}

.price h3 {
  font-size: 16px;
  text-decoration: line-through;
  color: var(--darkGrayishBlue);
  align-self: center;
}

aside button {
  margin: 30px 40px 0px 0px;
  display: inline-block;
  border-radius: 8px;
  border: none;
  margin-left: 10px;
  background-color: var(--darkCyan);
  color: var(--white);
  padding: 15px;
  width: 240px;
  align-self: stretch;
  font-family: 'Fraunces', sans-serif;
}

aside button img {
  padding-right: 10px;
}

@media(max-width: 640px) {
  .container {
    flex-direction: column;
    margin: 20px;
    max-width: 500px;
  }

  .perfumeImage {
    max-width: 500px;
    border-radius: 2.5% 2.5% 0 0;
  }

  aside button {
    margin-left: 95px;
  }

}

@media(max-width: 375px) {
  .container {
    flex-direction: column;
    margin: 15px;
    max-width: 345px;

  }

  .perfumeImage {
    max-width: 345px;
    border-radius: 2.5% 2.5% 0 0;

  }

  aside button {
    margin-left: 25px;
  }

}